/** General page styling **/

.brand{
	text-decoration: none;
	font-size: 25px !important;
	padding: 0;
	margin: 0;
	line-height: 20px;
}


#mainContainer{
	margin-top: 20px;
}

#loading{
	position: fixed;
	width: 100%;
	text-align: center;
	padding: 10px 0;
}

.overlay{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.3);
}

#loading .progress{
	position: relative;
	top: 200px;
	width: 60%;
	margin: 0 auto;
}

h3.loadingText{
	position: relative;
	top: 190px;
	margin: 0 auto;
	color: #222;
}


.btn.btn-large {
	padding-bottom: 10px;
	padding-top: 10px;
}


#likesGraph{
	width: 500px;
	height: 300px;
	float: left;
}

#typesGraph{
	width: 400px;
	height: 300px;
	float: right;
}


